@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
  --mainYellow: #fffd00;
  --mainGrey: #f5f5f5;
  --mainWhite: #fff;
  --mainDark: #222;
  --mainBlue: #00a1ff;
  --mainRed: #ff2b00;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Roboto", Helvetica, Arial, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif !important;
  letter-spacing: 0.025rem!;
}
.text-yellow {
  color: var(--mainYellow);
}
.cart-icon {
  cursor: pointer;
  font-size: 2rem;
}
.background,
.about-background,
.shop-background,
.blog-background {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: left;
  background-position: center;
  background-size: cover;
  color: var(--mainDark);
}
.about-background,
.shop-background,
.blog-background {
  min-height: 60vh;
}
.btn-blue {
  font-family: "Montserrat", Helvetica, Arial, sans-serif !important;
  color: var(--mainDark);
  border-color: var(--mainDark);
  border-radius: 0;
}
.btn-blue:hover {
  background: var(--mainDark);
  color: var(--mainWhite) !important;
}

.footer {
  background: var(--mainDark);
}
.card {
  border-radius: 0;
}
.btn-browse {
  color: var(--mainWhite);
  font-family: "Montserrat", Helvetica, Arial, sans-serif !important;
  display: flex;
  align-items: left;
  justify-content: left;
  background: var(--mainDark);
  border-color: var(--mainDark);
  border-radius: 0;
}
